---
import { Icon } from "astro-icon";
import { Counter } from "./Counter";
const copyrightYear = new Date().getFullYear();
---

<footer>
  <div>
    <small>
      Copyright &copy;
      <span>{" "}{copyrightYear}{" "}</span>| All right reserved
    </small>
    <Counter client:visible />
    <small
      ><a href="/rss.xml"
        >Subscribe to RSS <Icon name="tabler:rss" width={20} heigh={20} />
      </a></small
    >
  </div>
</footer>
